<html>
  <%- include('./partials/head'); %>
  <body>
    <div class="container">
      <h2>Add New Book</h2>
      <form action="/book/add" method="POST">
        <div class="form-group">
          <label for="email">Book Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter Book Name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="pwd">Author:</label>
          <input
            type="text"
            class="form-control"
            id="author"
            placeholder="Enter Author Name"
            name="author"
            required
          />
        </div>

        <div class="form-group">
          <label for="pwd">Publisher:</label>
          <input
            type="text"
            class="form-control"
            id="publisher"
            placeholder="Enter Publisher Name"
            name="publisher"
            required
          />
        </div>

        <div class="form-group">
          <label for="pwd">Book Price:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            step="0.1"
            placeholder="Enter Book Price"
            name="price"
            required
          />
        </div>

        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </body>
</html>
